<form [formGroup]="RegForm" (ngSubmit)="onCreateUser()" method="POST">
    <mat-form-field appearance="fill">
        <mat-label>Vorname</mat-label>
        <input matInput name="vorname" formControlName="Vorname" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input matInput name="nachname" formControlName="Nachname" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="Email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput name="password" formControlName="Password" />
    </mat-form-field>
    <button mat-fab extended type="submit">Submit
        <mat-icon>home</mat-icon>
    </button>
</form>