<div class="d-flex justify-content-center align-items-center">
    <form method="POST" class="">
        <mat-form-field appearance="outline">
            <mat-label>ISBN</mat-label>
            <input matInput name="c" formControlName="a" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Book name</mat-label>
            <input matInput name="a" formControlName="b" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput name="b" formControlName="c" />
        </mat-form-field>
        <input type="file">
        <button mat-raised-button type="submit">Add Book
        </button>
    </form>
</div>