<div class="navbar-wrapper">
    <nav class="navbar navbar-light  justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <button mat-fab extended routerLink="login" color="warn">
        <mat-icon>how_to_reg</mat-icon>
           LOGIN
        </button>
            <button mat-fab extended routerLink="registration" color="warn">
            <mat-icon>assignment_ind</mat-icon>
            Registration
        </button>
            <button mat-fab extended routerLink="/" color="primary">
            <mat-icon>home</mat-icon>
            Home
        </button>
        </form>
    </nav>
</div>