<div class="navbar-wrapper">
    <nav class="navbar navbar-light  justify-content-between">
        <img src="https://authfront.s3.eu-central-1.amazonaws.com/image-from-rawpixel-id-6436489-original.png" alt="book img" class="logo">
        <form class="form-inline" *ngIf="re">
            <a routerLink="login">
                <button mat-fab extended color="warn">
                    <mat-icon>how_to_reg</mat-icon>
                       LOGIN
                    </button>
            </a>
            <a routerLink="registration">
                <button mat-fab extended color="warn">
                    <mat-icon>assignment_ind</mat-icon>
                         Registration
                </button>
            </a>

        </form>
        <button mat-fab extended routerLink="/" color="primary">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLogged">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [value]="gender">{{gender}}</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </nav>
</div>