<div class="navbar-wrapper">
    <nav class="navbar navbar-light  justify-content-between">
        <img src="https://authfront.s3.eu-central-1.amazonaws.com/image-from-rawpixel-id-6436489-original.png" alt="book img" class="logo">
        <form class="form-inline">
            <a routerLink="login">
                <button mat-fab extended color="warn">
                    <mat-icon>how_to_reg</mat-icon>
                       LOGIN
                    </button>
            </a>
            <a routerLink="registration">
                <button mat-fab extended color="warn">
                    <mat-icon>assignment_ind</mat-icon>
                         Registration
                </button>
            </a>
            <button mat-fab extended routerLink="/" color="primary">
            <mat-icon>home</mat-icon>
            Home
        </button>
        </form>
    </nav>
</div>