<div class="buttonGroup">
    <button mat-fab extended color="warn" (click)="openDialogAdd()">
            <mat-icon>assignment_ind</mat-icon>
                 Add New Book
    </button>
    <button mat-fab extended color="warn" (click)="openDialogDel()">
            <mat-icon>assignment_ind</mat-icon>
                 Delete book
        </button>

</div>
<div class="container default">
    <div class="row">
        <ng-container *ngFor="let item of booksList">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{item.Img}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{item.Name}}</h5>
                    <p class="card-text">{{item.Author}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>